
<!-- <header>
    <nav >
      <div class="header-styles">  
             <span><a href="home.html" id="job-portal-icon-name"><i class="fa fa-search" aria-hidden="true"></i>Job Portal</a></span>
             <span id="job-portal-caption">Find a better place to work</span>
      </div>
      <div class="menu-bar">
             <a id="text-link"  href="index.html" alt="">Post a job</a>
             <a id="text-link" href="index.html" alt="">Find resumes</a>
             <a id="text-link" href="index.html" alt="">Products</a>
             <a id="text-link" href="index.html" alt="">Resources</a>
             <a id="text-link" href="help.html" alt="">Help center <i class="far fa-question-circle"></i></a>
             <a id="text-link" href="contact.html" alt="">Contact Us</a>
             <a id="text-link" href="home.html" alt="">Home</a>
             
      </div>
    </nav>
</header>  -->
    <main>
      <section class="section-1">
        <h3>We look forward to speaking with you </h3>
      </section>
      <div class="contacts-style">
        <span id="contacts"><i class="fas fa-map-marker-alt"></i>India </span>
        <span id="contacts"><i class="fas fa-phone-alt"></i> +91 9895758288</span>
      </div>
      
      <div class="contacts-style">
        <span id="contacts"><i class="fas fa-map-marker-alt"></i>Dubai </span>
        <span id="contacts"><i class="fas fa-phone-alt"></i> +971 564948046</span>
      </div>
       </main>