#about-para{
    color:black;
    font-size:30px;
    font-family:Papyrus ;
    font-weight: bold;
    
  }
  .home-section{
      height:100%;
      /* background-color: cadetblue; */
      margin-top: 50px;
      
  }